.App {
  max-width: 600px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  background-color: #95d0e9;
}

.App .app-title {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.App footer {
  font-size: 14px;
  text-align: center;
}
