.current-weather {
  display: block;
  margin: 20px auto;
  padding: 0px;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  font-family: sans-serif;
  text-align: center;
  background-image: url("./background.png");
  background-repeat: no-repeat;
}

.footer {
  display: block;
  text-align: center;
  margin: 0 auto;
}
