.App {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #dadde1;
}

.App .app-title {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.App footer {
  font-size: 14px;
  text-align: center;
}
