.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  color: #878787;
  padding: 15px;
  margin: 15px 0 0 0;
}

.Weather h1 {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.Weather .icon {
  margin-top: 20px;
}
