.Weather {
  border: none;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
  margin: 15px 0 0 0;
}

.Weather h1 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.Weather h2 {
  font-size: 30px;
  margin: 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.Weather .col-6 {
  text-align: center;
}

.Weather .temperature {
  margin-top: 20px;
}
